<% if notice %>
  <%= render "layouts/notice" %>
<% end %>

<h1>Предметы</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Описание</th>
    </tr>
  </thead>
  <tbody>
    <% @disciplines.each do |discipline| %>
    <tr>
      <td class="uk-width-1-5"><%= link_to discipline.title, discipline %></td>
      <td class="uk-width-1-5"><%= discipline.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to new_discipline_path, class: "class: btn btn-primary" do %>
  <%= icon "plus" %> Новый предмет
<% end %>
