<% if notice %>
  <%= render "layouts/notice" %>
<% end %>

<h1><%= @discipline.title %></h1>

<p class="lead">
  <%= @discipline.description %>
</p>

<div class="btn-group role="group" aria-label="...">
  <%= link_to edit_discipline_path(@discipline), class: "btn btn-primary" do %>
    <%= icon "edit" %> Редактировать
  <% end %>
  <%= link_to @student, method: :delete, class: "btn btn-danger", data: { confirm: "Вы уверены что хотите удалить #{@discipline.title} ?"} do %>
    <%= icon "trash" %> Удалить
  <% end %>
</div>
