<%= simple_form_for(@student, html: {class: "uk-form"}, defaults: {input_html: {class: "uk-form-large"}}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <fieldset>
    <legend>ФИО</legend>
    <div class="uk-form-row">
      <%= f.input_field :last_name, :required => true, placeholder: "Фамилия", :error_html => { :class => 'cant_be_blank'} %>
    </div>
    <div class="uk-form-row">
      <%= f.input_field :first_name, :required => true, placeholder: "Имя", :error_html => { :class => 'cant_be_blank'} %>
    </div>
    <div class="uk-form-row">
      <%= f.input_field :middle_name, :required => true, placeholder: "Отчество", :error_html => { :class => 'cant_be_blank'} %>
    </div>
    <div class="uk-form-row">
      <%= f.button :submit, class: "uk-button" %>
      <%= link_to 'Назад', students_path %>
    </div>
  </fieldset>
<% end %>
