<%= simple_form_for([@group, @student], html: {class: "uk-form"}, defaults: {input_html: {class: "uk-form-large uk-width-1-1"}}) do |f| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="uk-grid">

    <div class="uk-width-1-3">
      <fieldset>
        <legend>ФИО</legend>
        <div class="uk-form-row" data-uk-tooltip title="Фамилия">
          <%= f.input_field :last_name, :required => true, placeholder: "Фамилия", :error_html => { :class => 'cant_be_blank'} %>
        </div>
        <div class="uk-form-row" data-uk-tooltip title="Имя">
          <%= f.input_field :first_name, :required => true, placeholder: "Имя", :error_html => { :class => 'cant_be_blank'} %>
        </div>
        <div class="uk-form-row" data-uk-tooltip title="Отчество">
          <%= f.input_field :middle_name, :required => true, placeholder: "Отчество", :error_html => { :class => 'cant_be_blank'} %>
        </div>
      </fieldset>
    </div>

    <div class="uk-width-1-3">
      <fieldset>
        <legend>Контакты</legend>
        <div class="uk-form-row" data-uk-tooltip title="Адрес">
          <%= f.input_field :address, placeholder: "Адрес" %>
        </div>
        <div class="uk-form-row" data-uk-tooltip title="Телефон">
          <%= f.input_field :phone, placeholder: "Телефон" %>
        </div>
        <div class="uk-form-row" data-uk-tooltip title="E-mail">
          <%= f.input_field :email, placeholder: "E-mail" %>
        </div>
      </fieldset>
    </div>

    <div class="uk-width-1-3">
      <fieldset>
        <legend>Паспортные данные</legend>
      <div class="uk-form-row">
        <div class="uk-grid">
        
          <div class="uk-width-1-2" data-uk-tooltip title="Серия">
            <%= f.input_field :passport_ser, placeholder: "Серия" %>
          </div>
          <div class="uk-width-1-2" data-uk-tooltip title="Номер">
            <%= f.input_field :passport_num, placeholder: "Номер" %>
          </div>

        </div>
      </div>
        <div class="uk-form-row" data-uk-tooltip title="Кем выдан">
          <%= f.input_field :passport_issue_where, placeholder: "Кем выдан" %>
        </div>
        <div class="uk-form-row" data-uk-tooltip title="Когда выдан">
          <%= f.input_field :passport_issue_when, as: :string, data: {uk_datepicker: "{pos:'bottom', format:'DD.MM.YYYY', minDate:'#{(Date.today - 15.years).strftime("%d.%m.%Y")}', maxDate:'#{(Date.today).strftime("%d.%m.%Y")}'}"}, placeholder: "Когда выдан" %>
        </div>
      </fieldset>
    </div>

  </div>

  <div class="uk-grid">

    <div class="uk-width-1-3">
      <fieldset>
        <legend>Дата рождения</legend>
        <div class="uk-form row" data-uk-tooltip title="Дата рождения">
          <%= f.input_field :birth_date, as: :string, data: {uk_datepicker: "{weekstart: 0, i18n: { months:#{ru_months}, weekdays:#{ru_weekdays} }, pos:'top', format:'DD.MM.YYYY', minDate:'#{(Date.today - 35.years).strftime("%d.%m.%Y")}', maxDate:'#{(Date.today - 15.years).strftime("%d.%m.%Y")}'}"}, placeholder: "ДД.ММ.ГГГГ" %>
        </div>
      </fieldset>
    </div>

    <div class="uk-width-1-3">
      <fieldset>
        <legend>Дополнительно</legend>
        <div class="uk-form-row" data-uk-tooltip title="Номер студенческого билета">
          <%= f.input_field :code, placeholder: "Номер студенческого билета" %>
        </div>
        <div class="uk-form-row" data-uk-tooltip title="Пол">
          <div class="uk-button uk-button-large uk-width-1-2 uk-form-select" data-uk-form-select>
            <span></span>
            <i class="uk-icon-caret-down"></i>
            <%= f.input_field :gender, collection: genders, prompt: "Пол" %>
          </div>
        </div>
        <div class="uk-form-row uk-form-file">
          <button class="uk-button uk-button-large uk-width-1-1">
            <i class="uk-icon-image"></i> Загрузить фото
          </button>
          <%= f.input_field :photo, as: :file %>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <%= f.input_field :class_monitor %> Староста группы
          </div>
        </div>
      </fieldset>
    </div>

  </div>

  <div class="uk-grid">
    <div class="uk-form-row">

      <%= link_to :back, class: "uk-button uk-button-large" do %>
        <i class="uk-icon-chevron-left"></i> Назад
      <% end %>

      <%= button_tag type: "submit", class: "uk-button uk-button-primary uk-button-large" do %>
        <i class="uk-icon-save"></i> Сохранить
      <% end %>

    </div>
  </div>

<% end %>
