<% if notice %>
<div class="uk-alert uk-alert-success">
  <%= notice %>
</div>
<% end %>

<h1>Студенты <% if @group %>группы <%= @group.name %><% end %></h1>

<table class="uk-table uk-table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>ФИО</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, index| %>
    <tr>
      <td class="uk-width-1-5"><%= index + 1 %></td>
      <td class="uk-width-3-5"><%= link_to student.full_name, student %></td>
      <td class="uk-width-1-5"><%= link_to student.group.name, group_students_path(student.group) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

