<% if notice %>
<div class="uk-alert uk-alert-success">
  <%= notice %>
</div>
<% end %>

<h1>Студенты <% if @group %>группы <%= @group.name %><% end %></h1>

<table class="uk-table uk-table-hover">
  <thead>
    <tr>
      <th>Код</th>
      <th>ФИО</th>
      <th>Группа</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, index| %>
    <tr>
      <td class="uk-width-1-5"><%= student.code %></td>
      <td class="uk-width-3-5"><%= link_to student.full_name, student %></td>
      <td class="uk-width-1-5"><%= link_to student.group.name, group_students_path(student.group) %></td>
      <td><% if student.class_monitor? %><i class="uk-icon-star uk-icon-hover" data-uk-tooltip title="Староста группы"></i><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

