<% if notice %>
  <%= render "layouts/notice" %>
<% end %>

<h1>Студенты <% if @group %>группы <%= @group.name %><% end %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Код</th>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Группа</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, index| %>
    <tr>
      <td><%= student.code %></td>
      <td><%= link_to student.full_name, student %></td>
      <td><%= link_to student.full_name, student %></td>
      <td><%= link_to student.group.name, group_students_path(student.group) %></td>
      <td><% if student.class_monitor? %><%= icon "star" %><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
