<% if notice %>
<div class="uk-alert uk-alert-success">
  <%= notice %>
</div>
<% end %>

<h1>Студенты</h1>
  <div class="uk-grid" data-uk-grid-margin>
    <% @students.each do |student| %>
      <div class="uk-width-1-3">
        <%= div_for(student, class: "uk-panel uk-panel-box") do %>
          <h3 class="uk-panel-title"><%= student.last_name %></h3>
          <p><%= student.first_name %></p>
          <p><%= student.middle_name %></p>
          <p><%= link_to 'Show', student %></p>
          <p><%= link_to 'Edit', edit_student_path(student) %></p>
          <p><%= link_to 'Destroy', student, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    <% end %>
  </div>
