<% if notice %>
  <%= render "layouts/notice" %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <p>
          <%= image_tag @student.photo.url, class: "img-responsive img-rounded" %>
        </p>
      </div>
      <div class="col-md-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <%= link_to edit_student_path(@student), class: "btn btn-primary" do %>
            <%= icon "edit" %> Редактировать
          <% end %>
          <%= link_to @student, method: :delete, class: "btn btn-danger", data: { confirm: "Вы уверены что хотите удалить #{@student.full_name} ?"} do %>
            <%= icon "trash" %> Удалить
          <% end %>
        </div>
        <p>
          <div class="btn-group btn-block">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Действия <span class="caret"></span></button>
            <ul class="dropdown-menu btn-block" role="menu">
              <li>
                <a href="#"><%= icon('exchange') %> Перевести</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#"><%= icon('ban') %> Отчислить</a>
              </li>
            </ul>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1><%= @student.full_name %></h1>
      </div>
      <div class="panel-body">
        <p class="lead text-center">
          <span class="label label-info"><%= @student.group.name %></span>
          <span class="label label-info"><%= @student.group.course %> Курс</span>
          <span class="label label-info"><%= @student.group.branch %></span>
          <span class="label label-info"><%= @student.group.qualification_text %></span>
          <% if @student.class_monitor? %>
            <span class="label label-warning">Староста</span>
          <% end %>
        </p>

        <div role="tabpanel">

          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#passport" aria-controls="passport" role="tab" data-toggle="tab">Паспортные данные</a></li>
            <li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Контакты</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="passport">
              <p>
                <ul class="list-unstyled">
                  <li>
                    Номер: <strong><%= @student.passport_num %></strong>
                  </li>
                  <li>
                    Выдан: <strong><%= "#{@student.passport_where} #{Russian.strftime(@student.passport_when, "%d.%m.%Y")}" %></strong>
                  </li>
                  <li>
                    Дата рождения: <strong><%= Russian.strftime(@student.birth_date, "%d.%m.%Y") %></strong>
                  </li>
                </ul>
              </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="contacts">
              <p>
                <ul class="list-unstyled">
                  <li>Адрес: <strong><%= @student.address %></strong></li>
                  <li>Телефон: <strong><%= @student.phone %></strong></li>
                  <li>E-mail: <strong><%= @student.email %></strong></li>
                </ul>
              </p>
            </div>
          </div>

        </div>


      </div>
      <div class="panel-footer">
        Студенческий билет &#x2116; <strong><%= @student.code %></strong>
      </div>
    </div>
  </div>
</div>
