<% if notice %>
<div class="uk-alert uk-alert-success">
  <%= notice %>
</div>
<% end %>

<h1>Группы</h1>

<table class="uk-table uk-table-hover">
  <thead>
    <tr>
      <th>Код</th>
      <th>Наименование</th>
      <th>Направление</th>
      <th>Курс</th>
      <th>Квалификация</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
    <tr>
      <td class="uk-width-1-5"><%= group.code %></td>
      <td class="uk-width-1-5"><%= link_to group.name, group %></td>
      <td class="uk-width-1-5"><%= group.branch %></td>
      <td class="uk-width-1-5"><%= group.course %></td>
      <td class="uk-width-1-5"><%= group.get_qualification %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Новая группа", new_group_path, class: "uk-button uk-button-large" %>
