<% if notice %>
  <%= render "layouts/notice" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">

    <h1><%= @group.name %></h1>
    <p class="lead">
      <span class="label label-default"><%= @group.course %> Курс</span>
      <span class="label label-default"><%= @group.branch %></span>
      <span class="label label-default"><%= @group.qualification_text %></span>
    </p>

    <div class="btn-group" role="group" aria-label="...">
      <%= link_to edit_group_path(@group), class: "btn btn-primary" do %>
        <%= icon "edit" %> Редактировать
      <% end %>
      <%= link_to @group, class: "btn btn-danger", method: :delete, data: { confirm: "Вы уверены что хотите удалить #{@group.name} ?" } do %>
        <%= icon "trash" %> Удалить
      <% end %>
    </div>

  </div>
</div>

<% if @group.students.count > 0 %>
<h2>В группе <%= Russian.p @group.students.count, "%n студент", "%n студента", "%n студентов" %></h2>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>ФИО</th>
    </tr>
  </thead>
  <tbody>
    <% @group.students.each_with_index do |student, index| %>
    <% if student.class_monitor? %>
    <tr class="warning">
    <% end %>
      <td class="uk-width-1-5"><%= index + 1 %></td>
      <td class="uk-width-3-5"><%= link_to student.full_name, student %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
<h2>В группе нет студентов</h2>
<% end %>

<%= link_to new_group_student_path(@group), class: "btn btn-primary" do %>
  <%= icon "plus" %> Новый студент
<% end %>
