<p id="notice"><%= notice %></p>

<h1>Пользователи</h1>

<div class="row">
  <% @users.each do |user| %>
    <%= div_for(user, class: "col-md-2") do %>
      <p><%= user.name %></p>
      <p><%= user.email %></p>
    <% end %>
  <% end %>
</div>

<%= link_to 'Добавить пользователя', new_user_path, class: "btn btn-default" %>
