<p id="notice"><%= notice %></p>

<h1>Пользователи</h1>

<div class="row">
  <% @users.each do |user| %>
    <%= div_for(user, class: "col-md-2 well") do %>
      <p><%= user.full_name %></p>
      <p><%= user.email %></p>
      <p><%= link_to 'изменить', edit_user_path(user) %></p>
    <% end %>
  <% end %>
</div>

<div class="row">
    <%= link_to 'Добавить пользователя', new_user_path, class: "btn btn-default" %>
</div>

