<% if notice %>
  <%= render "layouts/notice" %>
<% end %>

<h1>Преподаватели</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Кафедра</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
    <tr>
      <td class="uk-width-1-5"><%= link_to teacher.full_name, teacher %></td>
      <td class="uk-width-1-5"><%= teacher.cathedra %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_teacher_path, class: "btn btn-primary" do %>
  <%= icon "plus" %> Новый преподаватель
<% end %>
