<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render "layouts/menu" %>

  <div class="container-fluid">
    <div class="row">

      <%= render "layouts/sidebar" %>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>

        <div class="row">
          <% if user_signed_in? %>
            Здравствуйте, <%= current_user.name %>
            <p><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p>
          <% else %>
            <%= link_to "Войти", new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
          <% end %>
        </div>

        <div class="row">
          <%= yield %>
        </div>

      </div>
      
    </div>
  </div>

</body>
</html>
