<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <%= render "layouts/navbar" %>

    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-1-4">
        <%= render "layouts/sidebar" %>
      </div>
      <div class="uk-width-medium-3-4">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
